@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido @ViewData["nombreUsuario"]</h1>
    <p>Sistema Integrado de Seguridad Electrónica Grupo Energía de Bogotá</p>

</div>


