@{
    ViewData["Title"] = "¡Lo sentimos!";
}
<div class="text-center">
    <h1>@ViewData["Title"]</h1>

    <h4 class=" mt-3 text-black-50">No posees permisos para acceder a esta página, si necesitas la autorización correspondiente comunicate con el administrador del sistema.</h4>
</div>
