@* @model GEBIntegrador.Dto.UsuarioDto *@
@model GEBIntegrador.Dto.UsuarioCrearDto

@{
    ViewData["Title"] = "Edit";
    List<SelectListItem> perfiles = (List<SelectListItem>)ViewBag.items;
}

<h1>Editar Usuario</h1>

<h4>Usuario</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form id="form_edit" data-model='@Json.Serialize(Model)'>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="n_id" />
@*             <div class="form-group">
                <label asp-for="IdPersona" class="control-label"></label>
                <input asp-for="IdPersona" class="form-control" />
                <span asp-validation-for="IdPersona" class="text-danger"></span>
            </div>*@
             <div class="form-group">
                <label asp-for="persona.v_nombres" class="control-label"></label>
                <input asp-for="persona.v_nombres" class="form-control" />
                <span asp-validation-for="persona.v_nombres" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="persona.v_apellidos" class="control-label"></label>
                <input asp-for="persona.v_apellidos" class="form-control" />
                <span asp-validation-for="persona.v_apellidos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="v_correo" class="control-label"></label>
                <input asp-for="v_correo" class="form-control" />
                <span asp-validation-for="v_correo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="v_usuario" class="control-label"></label>
                <input asp-for="v_usuario" class="form-control" />
                <span asp-validation-for="v_usuario" class="text-danger"></span>
            </div>
@*             <div class="form-group">
                <label asp-for="Clave" class="control-label"></label>
                <input asp-for="Clave" class="form-control" />
                <span asp-validation-for="Clave" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdPerfil" class="control-label"></label>
                <input asp-for="IdPerfil" class="form-control" />
                <span asp-validation-for="IdPerfil" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="n_id_perfil" class="control-label"></label>
                @* @Html.DropDownListFor(Model => Model.IdPerfil ,perfiles,"Selecciona el responsable", new {@class = "form-control"}) *@
                @Html.DropDownListFor(Model => Model.n_id_perfil ,perfiles, new {@class = "form-control"})
                <span asp-validation-for="n_id" class="text-danger"></span>
            </div>

@*             <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
 *@            <div class="form-group">
 @*                 <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
  *@
                <label asp-for="n_estado" class="control-label"></label>
                <select asp-for="n_estado" class="form-control">
                    @* <option value="">--Seleccione el estado</option> *@
                    <option value="0">Inactivo</option>
                    <option value="1">Activo</option>
                </select>
                <span asp-validation-for="n_estado" class="text-danger"></span>

            </div>


            <div class="form-group mt-3">
                <input type="submit" value="Actualizar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@* <div>
    <a asp-action="Index">Volver</a>
</div> *@

<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<script src="~/js/usuarios/editar.js" type="module"></script>